/* RESET BÁSICO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f8fafc;
    color: #1e293b;
}

/* HEADER */

.header {
    background: linear-gradient(90deg, #2563eb, #1e40af);
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #fff;
    font-size: 20px;
}

.header nav a {
    color: #e0e7ff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.header nav a:hover{
    color: #fff;
}

/* HOME */

.home {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.home-content h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

.home-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
    color: #334155;
}

.home img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.btn-primary {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 14px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #1e40af;
}

/*  FEEDBACK */

.feedback-page {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.feedback-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e293b;
}

/* FORMULARIO */

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.feedback-form input,
.feedback-form textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5f5;
    font-size: 15px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
    border-color: #2563eb;
}

.feedback-form button {
    margin-top: 10px;
    background: #2563eb;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.feedback-form button:hover {
    background: #1e40af;
}

.feedback-message {
    padding: 10px;
    border-radius: 8px;
    background: #dcfce7;
    color: #166534;
    font-size: 14px;
    text-align: center;
}

/* RESPONSIVIDADE */

@media (max-width:780px) {
    .home {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home img {
        margin-top: 20px;
    }
}